@use "../../scss/abstracts/" as *;

.chart {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.chart__top {
    flex-grow: 1;
    display: flex;
    gap: 16px;
    max-height: 308px;
    & * {
        flex-grow: 1;
        background-color: $secondaryColor;
    }

    .pie-chart,
    .line-chart {
        max-width: calc(50% - 8px);
        width: 100%;
        height: 100%;
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(15, 30, 84, 0.15);
        overflow: hidden;
    }
}
.chart__bottom {
    flex-grow: 1;
    height: 100%;
    max-height: 300px;

    .bar-chart {
        background-color: $secondaryColor;
        max-width: 100%;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        box-shadow: 0 0 12px rgba(15, 30, 84, 0.15);
        overflow: hidden;
    }
}
