@use "../../scss/abstracts/" as *;

.list{
    display: flex;

    .listContainer{
        background-color: #ecf5ff;
        flex: 5;

        .main{
            height: calc(100% - #{$headerHeight});
            padding: $spacing;
        }
    }
}