@use "./variables" as *;

.table {
    position: relative;
    color: $mainColor;
    font-size: $fontSizeNormal;
    width: 100%;
    height: 535px;
    border-radius: 8px 8px 0 0;
    overflow: auto;
    border-bottom: 2px solid $mainColor;
    z-index: 1;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }

    &__title {
        font-weight: 700;
        font-size: $fontSizeLarge;
        text-transform: uppercase;
        margin-bottom: 0;
        user-select: none;
    }

    &__body {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        background-color: $secondaryColor;
        box-shadow: 0 0 20px rgba(15, 30, 84, 0.15);

        thead {
            color: $secondaryColor;
            height: 70px;

            th {
                font-size: $fontSizeMedium;
                font-weight: 500;
                background-color: $mainColor;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                text-align: left;
                padding: 12px 15px;
                letter-spacing: 2px;
                user-select: none;

                &:last-child {
                    text-align: right;
                }
            }
        }

        tbody {
            tr {
                line-height: 1;
                height: 80px;

                &:nth-of-type(even) {
                    background-color: rgba(15, 30, 84, 0.08);
                }
            }

            td {
                padding: 12px 15px;

                &:last-child {
                    text-align: right;
                }

                &:last-child * {
                    margin-left: 32px;
                }
            }

            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 8px;
            }
        }
    }
}

.table > :not(:first-child) {
    border: 0;
}