$bodyBg: #ECF5FF;
$mainColor: #0F1E54;
$secondaryColor: #FFFFFF;
$logoColor: #567AFB;

$fontFamily: "Poppins", sans-serif;

$fontSizeNormal: 1rem;
$fontSizeMedium: 1.125rem;
$fontSizeLarge: 1.5rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;
$headerHeight: 64px;

$mobile-width: 600px;
$tablet-width: 1366px;
