@use "../../scss/abstracts/" as *;

$paddingInput: 12px;

.search {
    position: relative;
    display: block;

    &__input {
        @include flex;
        border: 1px solid $mainColor;
        border-radius: 8px;
        padding: 0 12px;
        input {
            width: calc(100% - #{$paddingInput});
        }
    }
}

.search__result {
    position: absolute;
    z-index: 1;
    width: 100%;
    // min-height: 50px;
    max-height: 200px;
    background-color: white;
    border-radius: 8px;
    margin-top: 5px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search__result::-webkit-scrollbar {
    display: none;
}

.search__item {
    padding: 4px $paddingInput;
    border-radius: 8px;
    margin-bottom: 0;

    &:hover {
        color: $secondaryColor;
        background-color: $mainColor;
        cursor: pointer;
    }
}

#clearBtn {
    cursor: pointer;
}
