@use "../../scss/abstracts/" as *;

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 $spacing;
    background-color: $secondaryColor;
    height: $headerHeight;

    .user {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 20px;
        color: $mainColor;
        font-size: $fontSizeMedium;
        font-weight: 500;

        .info {
            display: flex;
            align-items: center;
            gap: 8px;
            &__avatar {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .icon__expand {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #ddd;
            font-size: $fontSizeMedium;
            line-height: 32px;
            text-align: center;

            &:visited + .user__menu {
                display: block;
            }
        }

        &__menu {
            position: absolute;
            top: calc(100% + 6px);
            right: 0;
            background-color: $logoColor;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.2s linear;
            border-radius: 8px;
            padding: 4px;
            z-index: 9;
        }

        &__menu.expand {
            opacity: 1;
            visibility: visible;
        }

        &__item:hover {
        }

        &__link {
            @include flex;
            justify-content: space-between;
            padding: 8px;
            border-radius: 6px;
            color: $secondaryColor;

            &:hover {
                color: $logoColor;
                background-color: $secondaryColor;
            }
        }
    }
}
