@use "../../scss/abstracts/" as *;

.sidebar {
    position: relative;
    background-color: #0f1e54;
    flex: 1;
    height: 100vh;
    z-index: 10;
    .top {
        @include flex;
        height: $headerHeight;
        margin: 0 auto 48px;
    }

    .center {
        position: relative;
        width: 100%;

        ul {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 0 16px;
            padding: 0;
            .title {
                font-size: $fontSizeMedium;
                text-transform: uppercase;
                font-weight: 500;
                margin-top: 24px;
                margin-bottom: 8px;

                &:first-child{
                    margin-top: 0;
                }
            }

            .link {
                display: block;
                font-size: $fontSizeNormal;
                margin: 8px auto;
                opacity: 0.5;
                transition: color 0.2s linear, opacity 0.2s linear;
                &:hover {
                    color: $secondaryColor;
                    opacity: 1;
                }
            }

            .link-active {
                opacity: 1;
            }
        }
    }

    .bottom {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-100%);
    }
}
