@use "./abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily;
    color: $secondaryColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $bodyBg;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

button,
textarea,
input {
    border: 0;
    outline: none;
}

.icon {
    cursor: pointer;
    font-size: $fontSizeLarge;
    font-weight: 500;
}

.btn {
    min-width: 100px;
    padding: 4px 12px;
    font-size: $fontSizeNormal;
    font-weight: 500;
    border-radius: 12px;
    outline: none;
    transition: color 0.2s linear, opacity 0.2s linear;

    &:visited,
    &:active {
        background-color: currentColor;
        border-color: currentColor;
    }

    &:active:focus {
        box-shadow: none;
    }
}

.btn--primary {
    color: $secondaryColor;
    border: 2px solid $mainColor;
    background-color: $mainColor;

    &:hover {
        background-color: $secondaryColor;
        border: 2px solid $mainColor;
        color: $mainColor;
    }

    &:focus {
        color: $mainColor;
        box-shadow: none;
        background-color: $secondaryColor;
        border: 2px solid $mainColor;
    }
}
.btn--secondary {
    color: $secondaryColor;
    background-color: $logoColor;
    border: 2px solid $logoColor;

    &:hover {
        background-color: $secondaryColor;
        border: 2px solid $logoColor;
        color: $logoColor;
    }
    &:focus {
        color: $logoColor;
        box-shadow: none;
        background-color: $secondaryColor;
        border: 2px solid $logoColor;
    }
}
.logo {
    font-size: $fontSizeLarge;

    &__name {
        color: $logoColor;
        font-weight: 700;
        margin-right: 6px;
    }

    @include mobile {
        & span:not(.logo__name) {
            display: none;
        }
    }
}

.table {
    position: relative;
    color: $mainColor;
    font-size: $fontSizeNormal;
    width: 100%;
    height: 540px;
    border-radius: 8px 8px 0 0;
    overflow: auto;
    border-bottom: 2px solid $mainColor;
    z-index: 1;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }

    &__title {
        font-weight: 700;
        font-size: $fontSizeLarge;
        text-transform: uppercase;
        margin-bottom: 0;
        user-select: none;
    }

    &__body {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        background-color: $secondaryColor;
        box-shadow: 0 0 20px rgba(15, 30, 84, 0.15);

        thead {
            color: $secondaryColor;
            height: 70px;

            th {
                font-size: $fontSizeMedium;
                font-weight: 500;
                background-color: $mainColor;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                text-align: left;
                padding: 12px 15px;
                letter-spacing: 2px;
                user-select: none;

                &:last-child {
                    text-align: right;
                }
            }
        }

        tbody {
            tr {
                line-height: 1;
                height: 80px;

                &:nth-of-type(even) {
                    background-color: rgba(15, 30, 84, 0.08);
                }
            }

            td {
                padding: 12px 15px;

                &:last-child {
                    text-align: right;
                }

                &:last-child * {
                    margin-left: 32px;
                }
            }

            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 8px;
            }
        }
    }
}

.table > :not(:first-child) {
    border: 0;
}

.form-control__file {
    display: none;
}

.image {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 4px;
    border-radius: 50%;
}

.btn__image {
    @include flex;
    gap: 8px;

    .icon {
        font-size: $fontSizeNormal;
    }
    max-width: 125px;
    width: 100%;
    padding: 2px 8px;
    border-radius: 12px;
    outline: none;
    transition: color 0.2s linear, opacity 0.2s linear;
}
